<form action="/process_login" method="POST">
	</br>
	<center>Email<input type="text" name="email"><br/></br></center>
	<center>Password<input type="password" name="password"><br/></br></br>
	<input type="submit" name="" value="Login">
	</center>
</form>