<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <center>  
      <h1 class="display-3">JOSVAN PERFUMES</h1>
      <p>Nothing but the best knockoffs.</p>
      </br></br></br>
      <a href="/perfumes" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Browse Inventory</a>
    </center>
  </div>
</div>
