<h1 style="text-align:center;">ADD A PERFUME TO INVENTORY</h1><br/>
<form action="/perfume/create" method="POST">
    </br>
    <center>Name<br/><input type="text" name="Name" required="true"><br/><br/> 
    <input type="submit" name="submit">
    <input type="reset"></br></br></br>
    </center> 
</form>
