<h1 style="text-align:center;">Add a new perfume</h1><br/>
<form action="/perfume/create" method="POST">
    </br>
    <center>Name<br/><input type="text" name="Name" required="true"><br/><br/></center>
    <center>Quantity<br/><input type="number" name="Quantity" required="true"><br/><br/><br/>   
    <input type="submit" name="submit">
    <input type="reset"></br></br></br>
    </center> 
</form>
